<a href="https://colab.research.google.com/github/binisyow/CCINCOML_EXERCISE_COM23P/blob/main/Tupas_pogi__exercise6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 6

## Lists

1. Create a list

- The name of the new list should be  `month`

- The list should contain all the months in a year (January, February, March, April, May, June, July, August, September, October, November, December)

In [ ]:
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]

2. Display an element

- Display the fourth element 'April' in the `month` list

In [ ]:
months[3]

'April'

3. Slice the list

- Use slicing to get the last 4 months of the year of (September, October, November, December) of the `month` list

In [ ]:
months[8:]

['September', 'October', 'November', 'December']

- Use slicing to get the first 4 months of the year (January, February, March, April) of the `month` list

In [ ]:
months[:4]

['January', 'February', 'March', 'April']

4. List Methods

- Get the size of the month list using the `len()` method

In [ ]:
print(len(months))

12

- Get the element with the largest value of the month list using `max()`

In [ ]:
print(max(months))

September

- Get the element with the smallest value of the month list using `min()`

In [ ]:
print(min(months))

April

- Sort the months of the year by alphabetical order using the `sorted()` function

In [ ]:
print(sorted(months))

['April', 'August', 'December', 'February', 'January', 'July', 'June', 'March', 'May', 'November', 'October', 'September']

## Tuple

1. Create a tuple with only three elements, the elements are:

- Your month of birth in integers
- Your day of birth in integers
- Your year of birth in integers

Use tuple unpacking to directly assign the month, day, year variable to each elements in your tuple.

In [ ]:
birthday = (8,5,2005)
print ("my birth month is", birthday[0])
print ("my birth day is", birthday[1])
print ("my birth year is", birthday[2])

my birth month is 8
my birth day is 5
my birth year is 2005

## Set

1. The list below contains a number of a products of a computer store. Notice that there are duplicate values.

In [ ]:
products = ["laptop", "smartphone", "tablet", "mouse" ,"powerbank", "headphones", "laptop", "speakers", "printer", "monitor", "projector", "mouse", "keyboard"]

The difference between a list and a set is that a list allows duplicate values. One way to remove duplicates is to convert a list into a set.

Convert the `products` list into a set

In [ ]:
# put your answer here

2. Verify if "headphones" exists in the `products` set  using the `in` operator

In [ ]:
# put your answer here

## Dictionaries

1. Create a dictionary of your favorites

- Keys should be the type
- Values should be the sample from that type

Example:

food: friedchicken

color: blue

sport: badminton

drink: mangojuice

dessert: cheesetart

In [ ]:
# put your answer here
faves = ["eating","sleeping","basketball", "purple", "alfonso", "chicken wings", "sports", "FPSgames", ]
print(faves)

['eating', 'sleeping', 'basketball', 'purple', 'alfonso', 'chicken wings', 'sports', 'FPSgames']

## Loops

1. Write a for loop to iterate all elements of the `month` list. Print each element for every iteration.

In [24]:
month = ['January', 'February', 'march' 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

for x in month:
    print(x)

January
February
marchApril
May
June
July
August
September
October
November
December

2. Write a for loop and add a condition to only display the elements in the `month` list that ends with "ber"

In [27]:
month = ['January', 'February', 'march' 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

for x in month:
    if x.find("ber") > 0:
      print(x)

September
October
November
December

3. Write a for loop and add a condition to only display the elements in the `month` list that does not end with "ber"

In [36]:
month = ['January', 'February', 'march' 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

for x in month:
    if x.find("ber") < 0:
      print(x)

January
February
marchApril
May
June
July
August

4. Write a for loop and use `range()` to display your firstname five times

In [30]:
for i in range(5):
    print("Vince")

vince
vince
vince
vince
vince

5. Write a for loop that iterates over the names list to create a usernames list.

To create a username for each name, make everything lowercase and replace spaces with underscores. Running your for loop over the list:

Example:

names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]

should create a new list

usernames = ["joey_tribbiani", "monica_geller", "chandler_bing", "phoebe_buffay"]

In [76]:
names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]
usernames = []
for i in names:
  usernames.append(i.lower().replace(" ","_"))

  print(usernames)

['joey_tribbiani']
['joey_tribbiani', 'monica_geller']
['joey_tribbiani', 'monica_geller', 'chandler_bing']
['joey_tribbiani', 'monica_geller', 'chandler_bing', 'phoebe_buffay']

6. Write a while loop to iterate throught the `month` list

- Break the loop if the element ends with "ber"

In [94]:
month = ['January', 'February', 'march' 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

counter = 0
while counter < len(month):
  print(month[counter])
  counter = counter + 1
  if month[counter].find('ber') > 0:
    break

January
February
marchApril
May
June
July
August

## Functions

1. Write a python function named population_density that takes two arguments, population and land_area, and returns a population density calculated from those values.

The population density can be calculated using this formula:

population_density = population/land_area

In [86]:
def population_density(population, land_area):
 return population/land_area

In [87]:
population_density(123,55)

2.2363636363636363

2. Write an `averagesteps()` function to compute the average the number of steps you take every day.

- The function should accept a list and compute the average of all elements inside the list

- Create a list with seven elements. The values in the list are your average steps your take everyday.

- Pass the list to the function and call the function

In [83]:
mysteps = [5000,6969,1231,4567,7890,6123,6347]

In [84]:
def averagesteps(steplist):
  sum = 0
  for i in steplist:
    sum = sum + i
    avg = sum / 7
    return avg

In [85]:
averagesteps(mysteps)

714.2857142857143